body {
  background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=49878");
  font-family: Helvetica, sans-serif;
}

header .header_container{
  background-color: gray;
  color: navy;
  padding: 2px;
  border: 2px solid navy;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:  'header tasks archive' ;
  align-items: center;
}

h1 {
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  grid-area: header;
}

header .header_container .tasks {
  color: white;
  font-weight: bold;
  text-align: center;
  grid-area: tasks;
  padding: 5px;
}

header .header_container .archive {
  color: white;
  font-weight: bold;
  text-align: center;
  grid-area: archive;
  padding: 5px;
}

.footernote {
  background-color: gray;
  color: white;
  text-align: right;
  font-size: 80%;
  font-weight: bold;
  padding: 10px;
  border: 2px solid navy
}
